## Packages

In [1]:
import os
import glob
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from time import time
#os.chdir('C:\\Users\\A Sua\\Documents\\FIU\\CAP2020')
os.chdir('C:\\Users\\Daniel\\Python and R Notebooks\\CAP2020\\CAP2020')

## Define Functions

In [2]:
# change to directory of raw 765 quarterly files
folder = "C:\\Users\\Daniel\\Python and R Notebooks\\CAP2020\\CAP2020\\data\\raw\\stock_quarterly_data"
data_subdir = "data\\interim\\compiled_quarterly_2.csv"
final_data = "data\\processed\\compiled_quarterly_final.csv"
final_data_v2 = "data\\processed\\compiled_quarterly_final_v2.csv"

In [3]:
#print computation time script
def timing(f):
    def wrap(*args):
        time1 = time()
        ret = f(*args)
        time2 = time()
        print('{:s} function took {:.3f} ms'.format(f.__name__, (time2-time1)*1000.0))

        return ret
    return wrap

## Import Data

In [77]:
data = []
for file in Path(folder).glob('*.csv'):
        df = pd.read_csv(file)
        stock_name = os.path.basename(file)
        stock_name_noext = stock_name.replace("_quarterly_financial_data.csv", "")
        df['Symbol'] = stock_name_noext
        data.append(df)

In [78]:
bigframe = pd.concat(data)
print('initial shape {}'.format(bigframe.shape))

initial shape (62253, 42)

## Begin Cleaning

### Drop Duplicates

In [79]:
bigframe = bigframe.drop_duplicates()
print(print('new shape: {}'.format(bigframe.shape)))

new shape: (62253, 42)
None

### Replace 'None" with NaN

In [80]:
bigframe.replace('None', np.nan, inplace=True)

### Clean ticker names

### ABI_0 acquired by LIFE in Q4 2008, LIFE merged into TMO in Q4 2013
### CCE becomes CCE_1 smoothly in Q3 2010, becomes CCEP after Q2 2016 (no data)
### DG_1 is just DG (Dollar general)
### GAS(Nicor) acquired by GAS_0(AGL resources) in Q4 2011; GAS_0 acquired by SO in Q2 2016
### GCI_0 (Tegna) split from GCI in Q2 2015
### GGP_0 becomes GGP in 2010 (Q1-Q3 data not available), then GGP acquired by BPY in Q3 2018 (no BPY data)
### GM_0 becomes GM in Q3 2009 (Q2 2009 is skipped)
### LEH_0 acquired by BCS and NMH in Q3 2008 (both no data)
### MNST_0 should be MWW, acquired by Ranstad Holding in Q4 2016 (no data)
### PLD acquired by PLD_0 in Q2 2011
### Q acquired by CTL in Q1 2011
### Q_1 should be IQV
### WM_0 dissolved in Q3 2008

In [81]:
bigframe['Symbol'] = bigframe['Symbol'].astype(str)

In [82]:
# replace ABI_0 with ABI
bigframe['Symbol'].replace({'ABI_0':'ABI'}, inplace = True)

# replace CCE_1 with CCE
bigframe['Symbol'].replace({'CCE_1':'CCE'}, inplace = True)

# DG_1 with DG
bigframe['Symbol'].replace({'DG_1':'DG'}, inplace = True)

# replace GAS_0 with GAS_new
bigframe['Symbol'].replace({'GAS_0':'GAS_new'}, inplace = True)

# replace GAS with GAS_old
bigframe['Symbol'].replace({'GAS':'GAS_old'}, inplace = True)

# replace GCI_0 with TEGNA
bigframe['Symbol'].replace({'GCI_0':'TEGNA'}, inplace = True)

#replace GGP_0 with GGP
bigframe['Symbol'].replace({'GGP_0':'GGP'}, inplace = True)

#replace GM_0 with GM
bigframe['Symbol'].replace({'GM_0':'GM'}, inplace = True)

#replace LEH_0 with LEH
bigframe['Symbol'].replace({'LEH_0':'LEH'}, inplace = True)

#replace MNST_0 with MWW
bigframe['Symbol'].replace({'MNST_0':'MWW'}, inplace = True)

# replace Q_1 with IQV
bigframe['Symbol'].replace({'Q_1':'IQV'}, inplace = True)

# replace WM_0 with WM_old
bigframe['Symbol'].replace({'WM_0':'WM_old'}, inplace = True)

#replace PLD with PLD_old
bigframe['Symbol'].replace({'PLD':'PLD_old'}, inplace = True)

#replace PLD_0 with PLD_new
bigframe['Symbol'].replace({'PLD_0':'PLD_new'}, inplace = True)

In [83]:
bigframe['Symbol'].unique()

array(['AAN', 'AAPL', 'AAP', 'AA', 'ABBV', 'ABC', 'ABI', 'ABK', 'ABMD',
       'ABT', 'ACAS', 'ACC', 'ACE', 'ACIW', 'ACM', 'ACN', 'ACS', 'ACV',
       'ACXM', 'ADBE', 'ADCT', 'ADI', 'ADM', 'ADP', 'ADSK', 'ADS', 'ADT',
       'AEE', 'AEO', 'AEP', 'AES', 'AET', 'AFG', 'AFL', 'AGCO', 'AGN',
       'AHL', 'AIG', 'AIV', 'AIZ', 'AJG', 'AKAM', 'AKRX', 'ALB', 'ALEX',
       'ALGN', 'ALK', 'ALLE', 'ALL', 'ALTR', 'ALXN', 'AMAT', 'AMCX',
       'AMD', 'AME', 'AMGN', 'AMG', 'AMP', 'AMR', 'AMSC', 'AMT', 'AMZN',
       'ANDW', 'ANF', 'ANR', 'ANSS', 'AN', 'AOC', 'AOS', 'APA', 'APC',
       'APD', 'APH', 'APOL', 'APU', 'ARE', 'ARG', 'ARRS', 'ARW', 'ASH',
       'ATI', 'ATVI', 'AVB', 'AVGO', 'AVP', 'AVY', 'AWK', 'AW', 'AXP',
       'AYE', 'AYI', 'AZO', 'A', 'BAC', 'BAX', 'BA', 'BBBY', 'BBT', 'BBY',
       'BCR', 'BC', 'BDK', 'BDX', 'BEN', 'BF.B', 'BHF', 'BHI', 'BIG',
       'BIIB', 'BJS', 'BKE', 'BK', 'BLK', 'BLL', 'BMC', 'BMS', 'BMY',
       'BNI', 'BRCM', 'BRK.A', 'BRLI', 'BRL', 'BSC', 'BSX', 'BTU', 'BUD',
       'BWA', 'BXP', 'CAG', 'CAH', 'CAM', 'CAT', 'CA', 'CBE', 'CBG',
       'CBOE', 'CBS', 'CB', 'CCE', 'CCI', 'CCL', 'CCU', 'CDNS', 'CEG',
       'CELG', 'CERN', 'CFC', 'CFG', 'CFN', 'CF', 'CHD', 'CHK', 'CHRW',
       'CIEN', 'CINF', 'CIT', 'CI', 'CLF', 'CLX', 'CL', 'CMA', 'CMCSA',
       'CME', 'CMG', 'CMI', 'CMS', 'CMVT', 'CNC', 'CNO', 'CNP', 'CNX',
       'COF', 'COG', 'COH', 'COL', 'COO', 'COP', 'COST', 'COTY', 'COV',
       'CPB', 'CPN', 'CPWR', 'CRA', 'CRM', 'CRVL', 'CR', 'CSCO', 'CSC',
       'CSRA', 'CSX', 'CTAS', 'CTL', 'CTSH', 'CTXS', 'CTX', 'CVC', 'CVG',
       'CVH', 'CVS', 'CVX', 'CXO', 'CZN', 'C', 'DAL', 'DCI', 'DDR', 'DDS',
       'DD', 'DELL', 'DE', 'DFS', 'DF', 'DGX', 'DG', 'DHI', 'DHR',
       'DISCA', 'DISH', 'DIS', 'DLPH', 'DLR', 'DLTR', 'DNB', 'DNR', 'DOV',
       'DOW', 'DO', 'DPS', 'DRE', 'DRI', 'DTE', 'DTV', 'DUK', 'DVA',
       'DVN', 'DV', 'DYN', 'D', 'EBAY', 'ECL', 'EDS', 'ED', 'EFX', 'EIX',
       'EK', 'EL', 'EMC', 'EMN', 'EMR', 'ENDP', 'EOG', 'EP', 'EQIX',
       'EQR', 'EQT', 'EQ', 'ERTS', 'ESRX', 'ESS', 'ESV', 'ETFC', 'ETN',
       'ETR', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'FAST', 'FBHS', 'FB',
       'FCX', 'FDO', 'FDS', 'FDX', 'FE', 'FFIV', 'FHN', 'FII', 'FISV',
       'FIS', 'FITB', 'FLIR', 'FLR', 'FLS', 'FL', 'FMC', 'FNM', 'FOSL',
       'FO', 'FPL', 'FRE', 'FRT', 'FRX', 'FSLR', 'FTI', 'FTV', 'F',
       'GAS_new', 'GAS_old', 'TEGNA', 'GCI', 'GD', 'GENZ', 'GE', 'GGP',
       'GILD', 'GIS', 'GLAD', 'GLW', 'GME', 'GM', 'GNW', 'GOOG', 'GPC',
       'GPN', 'GPS', 'GRA', 'GRMN', 'GR', 'GS', 'GT', 'GWW', 'HAL', 'HAR',
       'HAS', 'HBAN', 'HBI', 'HCA', 'HCBK', 'HCN', 'HCP', 'HD', 'HES',
       'HIBB', 'HIG', 'HLT', 'HNZ', 'HOG', 'HOLX', 'HON', 'HOT', 'HPC',
       'HPE', 'HPQ', 'HP', 'HRB', 'HRL', 'HRS', 'HSIC', 'HSP', 'HST',
       'HSY', 'HUM', 'IACI', 'IBM', 'ICE', 'IDXX', 'IFF', 'IGT', 'ILMN',
       'INCY', 'INFO', 'INTC', 'INTU', 'IPG', 'IP', 'IRM', 'IR', 'ISRG',
       'ITT', 'ITW', 'IT', 'IVZ', 'JAVA', 'JBHT', 'JBL', 'JCI', 'JCP',
       'JDSU', 'JEC', 'JNJ', 'JNPR', 'JNS', 'JNY', 'JPM', 'JWN', 'KBH',
       'KEY', 'KFT', 'KG', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX',
       'KORS', 'KO', 'KRFT', 'KR', 'KSS', 'KSU', 'K', 'LEG', 'LEH', 'LEN',
       'LH', 'LIFE', 'LIZ', 'LKQ', 'LLL', 'LLTC', 'LLY', 'LMT', 'LM',
       'LNC', 'LNKD', 'LNT', 'LOW', 'LRCX', 'LSI', 'LSTR', 'LTD', 'LTR',
       'LUK', 'LUV', 'LVLT', 'LXK', 'LYB', 'MAA', 'MAC', 'MAR', 'MAS',
       'MAT', 'MA', 'MBI', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDP', 'MDT',
       'MED', 'MER', 'MET', 'MFE', 'MGM', 'MHK', 'MHP', 'MHS', 'MIL',
       'MI', 'MJN', 'MKC', 'MLM', 'MMC', 'MMM', 'MNK', 'MWW', 'MNST',
       'MOLX', 'MON', 'MOS', 'MOT', 'MO', 'MPC', 'MRK', 'MRO', 'MSFT',
       'MS', 'MTB', 'MTD', 'MTG', 'MTW', 'MUR', 'MU', 'MWV', 'MYL', 'M',
       'NAVI', 'NAV', 'NBL', 'NBR', 'NCC', 'NCLH', 'NDAQ', 'NEM', 'NE',
       'NFLX', 'NFX', 'NILE', 'NI', 'NKE', 'NLSN', 'NOC', 'NOVL', 'NOV',
       'NRG', 'NSC', 'NSM', 'NTAP', 'NTRS', 'NUE', 'NUS', 'NU', 'NVDA',
       'NVLS', 'NWL', 'NWS.A', 'NWS', 'NYT', 'NYX', 'ODP', 'OFLX', 'OI',
       'OKE', 'OMC', 'OMX', 'ORCL', 'ORLY', 'OXY', 'O', 'PAYX', 'PBCT',
       'PBG', 'PBI', 'PCAR', 'PCG', 'PCLN', 'PCL', 'PCP', 'PDCO', 'PEG',
       'PEP', 'PETM', 'PETS', 'PFE', 'PFG', 'PFIE', 'PGN', 'PGR', 'PG',
       'PHM', 'PH', 'PKG', 'PKI', 'PLD_new', 'PLD_old', 'PLL', 'PMTC',
       'PM', 'PNC', 'PNR', 'PNW', 'POM', 'PPG', 'PPL', 'PRGO', 'PRU',
       'PSA', 'PSX', 'PTV', 'PVH', 'PWR', 'PXD', 'PX', 'PYPL', 'QCOM',
       'QLGC', 'QRVO', 'QSII', 'IQV', 'Q', 'RAD', 'RAI', 'RAVN', 'RCL',
       'RDC', 'REGN', 'REG', 'RE', 'RF', 'RHI', 'RHT', 'RIG', 'RJF', 'RL',
       'RMD', 'ROH', 'ROK', 'ROP', 'ROST', 'RRC', 'RRD', 'RSG', 'RSH',
       'RTN', 'RX', 'R', 'SAF', 'SAI', 'SAM', 'SANM', 'SAPE', 'SBAC',
       'SBL', 'SBUX', 'SCG', 'SCHW', 'SEE', 'SE', 'SGP', 'SHLD', 'SHW',
       'SIAL', 'SIG', 'SII', 'SJM', 'SLB', 'SLE', 'SLG', 'SLM', 'SNA',
       'SNDK', 'SNI', 'SNPS', 'SOV', 'SO', 'SPG', 'SPLS', 'SRCL', 'SRE',
       'SSP', 'STI', 'STJ', 'STR', 'STT', 'STX', 'STZ', 'SUN', 'SVU',
       'SWKS', 'SWK', 'SWN', 'SWY', 'SYF', 'SYK', 'SYMC', 'SYNT', 'SYY',
       'S', 'TAP', 'TDC', 'TDG', 'TEG', 'TEL', 'TER', 'TEX', 'TE', 'TGT',
       'THC', 'TIE', 'TIF', 'TIN', 'TJX', 'TKR', 'TLAB', 'TMK', 'TMO',
       'TRIP', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TSO', 'TSS', 'TT',
       'TWC', 'TWTR', 'TWX', 'TXN', 'TXT', 'TYC', 'T', 'UAL', 'UA', 'UDR',
       'UG', 'UHS', 'UIS', 'ULTA', 'UNH', 'UNM', 'UNP', 'UPS', 'URBN',
       'URI', 'USB', 'UST', 'UTX', 'VAR', 'VFC', 'VIA.B', 'VIVO', 'VLO',
       'VMC', 'VNO', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VZ', 'V', 'WAG',
       'WAT', 'WBA', 'WB', 'WDC', 'WDR', 'WEC', 'WEN', 'WFC', 'WFMI',
       'WFR', 'WFT', 'WHR', 'WINA', 'WIN', 'WLP', 'WLTW', 'WMB', 'WMT',
       'WM_old', 'WM', 'WPI', 'WPO', 'WPX', 'WRK', 'WU', 'WWY', 'WYE',
       'WYNN', 'WYN', 'WY', 'XEC', 'XEL', 'XLNX', 'XL', 'XOM', 'XRAY',
       'XRX', 'XTO', 'XYL', 'X', 'YHOO', 'YUM', 'ZION', 'ZMH', 'ZTS'],
      dtype=object)

In [84]:
bigframe.to_csv(data_subdir, index=False)

### Transform Columns into Proper Datatypes

#### P/E Ratio - The ratio of Price to EPS diluted TTM as of the previous quarter.
#### EPS basic - Basic earnings per share for a given quarter
#### EPS diluted - Diluted earnings per share.
#### Dividend per share - Common stock dividends paid during a quarter per share, including all regular and special dividends and distributions to common shareholders.
#### Price - The medium price per share of the company common stock during a given quarter. The prices are as reported, and are not adjusted for subsequent dividends.
#### Long-term debt to equity ratio - The ratio of Long-term debt to common shareholders' equity (Shareholders equity minus Preferred equity).
#### Dividend payout ratio - The ratio of Dividends TTM to Earnings (available to common stockholders) TTM.
#### Shares split adjusted - The number of shares the company had at the end of a given quarter, adjusted for splits to be comparable to today's shares.

In [85]:
bigframe['P/E ratio'] = bigframe['P/E ratio'].astype(float)
bigframe['EPS basic'] = bigframe['EPS basic'].astype(float)
bigframe['EPS diluted'] = bigframe['EPS diluted'].astype(float)
bigframe['Dividend per share'] = bigframe['Dividend per share'].astype(float)
bigframe['Price'] = bigframe['Price'].astype(float)
bigframe['Long-term debt to equity ratio'] = bigframe['Long-term debt to equity ratio'].astype(float)
bigframe['Dividend payout ratio'] = bigframe['Dividend payout ratio'].astype(float)
bigframe['Shares split adjusted'] = bigframe['Shares split adjusted'].astype(float)

#### Quarter end

In [86]:
bigframe['Quarter end'] = pd.to_datetime(bigframe['Quarter end'], errors='ignore')
bigframe.head()

,Quarter end,Shares,Shares split adjusted,Split factor,Assets,Current Assets,Liabilities,Current Liabilities,Shareholders equity,Non-controlling interest,...,P/E ratio,Cumulative dividends per share,Dividend payout ratio,Long-term debt to equity ratio,Equity to assets ratio,Net margin,Asset turnover,Free cash flow per share,Current ratio,Symbol
0,2019-09-30,67151778,67151778.0,1.0,3219620000,NaN,1351965000,NaN,1867655000,0,...,21.69,1.04,0.0488,0.1859,0.5801,0.0509,1.26,1.32,NaN,AAN
1,2019-06-30,67547497,67547497.0,1.0,3180198000,NaN,1330640000,NaN,1849558000,0,...,19.94,1.01,0.0464,0.1880,0.5816,0.052,1.31,0.84,NaN,AAN
2,2019-03-31,67677449,67677449.0,1.0,3237966000,NaN,1424458000,NaN,1813508000,0,...,17.49,0.97,0.0459,0.2251,0.5601,0.0515,1.37,2.09,NaN,AAN
3,2018-12-31,67202919,67202919.0,1.0,2826692000,NaN,1065984000,NaN,1760708000,0,...,10.83,0.94,0.0455,0.1937,0.6229,0.0512,1.41,-0.43,NaN,AAN
4,2018-09-30,68594784,68594784.0,1.0,2698898000,NaN,935392000,NaN,1763506000,0,...,12.00,0.90,0.0267,0.1686,0.6534,0.0839,1.39,1.13,NaN,AAN

#### Symbol

In [93]:
finalframe = bigframe[['Quarter end', 'Shares split adjusted', 'Price', 'EPS basic', 'EPS diluted', 'Dividend per share', 
                       'Dividend payout ratio', 'P/E ratio', 'Long-term debt to equity ratio', 'Symbol']]
finalframe.head()

,Quarter end,Shares split adjusted,Price,EPS basic,EPS diluted,Dividend per share,Dividend payout ratio,P/E ratio,Long-term debt to equity ratio,Symbol
0,2019-09-30,67151778.0,63.99,0.59,0.58,0.035,0.0488,21.69,0.1859,AAN
1,2019-06-30,67547497.0,57.23,0.63,0.62,0.035,0.0464,19.94,0.1880,AAN
2,2019-03-31,67677449.0,48.63,0.83,0.82,0.035,0.0459,17.49,0.2251,AAN
3,2018-12-31,67202919.0,47.00,0.90,0.89,0.040,0.0455,10.83,0.1937,AAN
4,2018-09-30,68594784.0,48.86,0.64,0.62,0.030,0.0267,12.00,0.1686,AAN

In [4]:
#finalframe.to_csv(final_data, index=False)
finalframe= pd.read_csv(final_data)

### Convert Dates to Quarters

In [5]:
finalframe.head()

,Quarter end,Shares split adjusted,Price,EPS basic,EPS diluted,Dividend per share,Dividend payout ratio,P/E ratio,Long-term debt to equity ratio,Symbol
0,2019-09-30,67151778.0,63.99,0.59,0.58,0.035,0.0488,21.69,0.1859,AAN
1,2019-06-30,67547497.0,57.23,0.63,0.62,0.035,0.0464,19.94,0.1880,AAN
2,2019-03-31,67677449.0,48.63,0.83,0.82,0.035,0.0459,17.49,0.2251,AAN
3,2018-12-31,67202919.0,47.00,0.90,0.89,0.040,0.0455,10.83,0.1937,AAN
4,2018-09-30,68594784.0,48.86,0.64,0.62,0.030,0.0267,12.00,0.1686,AAN

In [7]:
finalframe['Quarter end'] = pd.to_datetime(finalframe['Quarter end'], infer_datetime_format = True)
finalframe.dtypes

Quarter end                       datetime64[ns]
Shares split adjusted                    float64
Price                                    float64
EPS basic                                float64
EPS diluted                              float64
Dividend per share                       float64
Dividend payout ratio                    float64
P/E ratio                                float64
Long-term debt to equity ratio           float64
Symbol                                    object
dtype: object

#### First Iteration - 2 week grace period

In [8]:
# period filters
periods = [(finalframe['Quarter end'] >='10/15/2019'), 
            (finalframe['Quarter end'] < '10/15/2019') & (finalframe['Quarter end'] >= '7/15/2019'),
            (finalframe['Quarter end'] < '7/15/2019') & (finalframe['Quarter end'] >= '4/15/2019'),
            (finalframe['Quarter end'] < '4/15/2019') & (finalframe['Quarter end'] >= '1/15/2019'),
            (finalframe['Quarter end'] < '1/15/2019') & (finalframe['Quarter end'] >= '10/15/2018'),
            (finalframe['Quarter end'] < '10/15/2018') & (finalframe['Quarter end'] >= '7/15/2018'),
            (finalframe['Quarter end'] < '7/15/2018') & (finalframe['Quarter end'] >= '4/15/2018'),
            (finalframe['Quarter end'] < '4/15/2018') & (finalframe['Quarter end'] >= '1/15/2018'),
            (finalframe['Quarter end'] < '1/15/2018') & (finalframe['Quarter end'] >= '10/15/2017'),
            (finalframe['Quarter end'] < '10/15/2017') & (finalframe['Quarter end'] >= '7/15/2017'),
            (finalframe['Quarter end'] < '7/15/2017') & (finalframe['Quarter end'] >= '4/15/2017'),
            (finalframe['Quarter end'] < '4/15/2017') & (finalframe['Quarter end'] >= '1/15/2017'),
            (finalframe['Quarter end'] < '1/15/2017') & (finalframe['Quarter end'] >= '10/15/2016'),
            (finalframe['Quarter end'] < '10/15/2016') & (finalframe['Quarter end'] >= '7/15/2016'),
            (finalframe['Quarter end'] < '7/15/2016') & (finalframe['Quarter end'] >= '4/15/2016'),
            (finalframe['Quarter end'] < '4/15/2016') & (finalframe['Quarter end'] >= '1/15/2016'),
            (finalframe['Quarter end'] < '1/15/2016') & (finalframe['Quarter end'] >= '10/15/2015'),
            (finalframe['Quarter end'] < '10/15/2015') & (finalframe['Quarter end'] >= '7/15/2015'),
            (finalframe['Quarter end'] < '7/15/2015') & (finalframe['Quarter end'] >= '4/15/2015'),
            (finalframe['Quarter end'] < '4/15/2015') & (finalframe['Quarter end'] >= '1/15/2015'),
            (finalframe['Quarter end'] < '1/15/2015') & (finalframe['Quarter end'] >= '10/15/2014'),
            (finalframe['Quarter end'] < '10/15/2014') & (finalframe['Quarter end'] >= '7/15/2014'),
            (finalframe['Quarter end'] < '7/15/2014') & (finalframe['Quarter end'] >= '4/15/2014'),
            (finalframe['Quarter end'] < '4/15/2014') & (finalframe['Quarter end'] >= '1/15/2014'),
            (finalframe['Quarter end'] < '1/15/2014') & (finalframe['Quarter end'] >= '10/15/2013'),
            (finalframe['Quarter end'] < '10/15/2013') & (finalframe['Quarter end'] >= '7/15/2013'),
            (finalframe['Quarter end'] < '7/15/2013') & (finalframe['Quarter end'] >= '4/15/2013'),
            (finalframe['Quarter end'] < '4/15/2013') & (finalframe['Quarter end'] >= '1/15/2013'),
            (finalframe['Quarter end'] < '1/15/2013') & (finalframe['Quarter end'] >= '10/15/2012'),
            (finalframe['Quarter end'] < '10/15/2012') & (finalframe['Quarter end'] >= '7/15/2012'),
            (finalframe['Quarter end'] < '7/15/2012') & (finalframe['Quarter end'] >= '4/15/2012'),
            (finalframe['Quarter end'] < '4/15/2012') & (finalframe['Quarter end'] >= '1/15/2012'),
            (finalframe['Quarter end'] < '1/15/2012') & (finalframe['Quarter end'] >= '10/15/2011'),
            (finalframe['Quarter end'] < '10/15/2011') & (finalframe['Quarter end'] >= '7/15/2011'),
            (finalframe['Quarter end'] < '7/15/2011') & (finalframe['Quarter end'] >= '4/15/2011'),
            (finalframe['Quarter end'] < '4/15/2011') & (finalframe['Quarter end'] >= '1/15/2011'),
            (finalframe['Quarter end'] < '1/15/2011') & (finalframe['Quarter end'] >= '10/15/2010'),
            (finalframe['Quarter end'] < '10/15/2010') & (finalframe['Quarter end'] >= '7/15/2010'),
            (finalframe['Quarter end'] < '7/15/2010') & (finalframe['Quarter end'] >= '4/15/2010'),
            (finalframe['Quarter end'] < '4/15/2010') & (finalframe['Quarter end'] >= '1/15/2010'),
            (finalframe['Quarter end'] < '1/15/2010') & (finalframe['Quarter end'] >= '10/15/2009'),
            (finalframe['Quarter end'] < '10/15/2009') & (finalframe['Quarter end'] >= '7/15/2009'),
            (finalframe['Quarter end'] < '7/15/2009') & (finalframe['Quarter end'] >= '4/15/2009'),
            (finalframe['Quarter end'] < '4/15/2009') & (finalframe['Quarter end'] >= '1/15/2009'),
            (finalframe['Quarter end'] < '1/15/2009') & (finalframe['Quarter end'] >= '10/15/2008'),
            (finalframe['Quarter end'] < '10/15/2008') & (finalframe['Quarter end'] >= '7/15/2008'),
            (finalframe['Quarter end'] < '7/15/2008') & (finalframe['Quarter end'] >= '4/15/2008'),
            (finalframe['Quarter end'] < '4/15/2008') & (finalframe['Quarter end'] >= '1/15/2008'),
            (finalframe['Quarter end'] < '1/15/2008') & (finalframe['Quarter end'] >= '10/15/2007'),
            (finalframe['Quarter end'] < '10/15/2007') & (finalframe['Quarter end'] >= '7/15/2007'),
            (finalframe['Quarter end'] < '7/15/2007') & (finalframe['Quarter end'] >= '4/15/2007'),
            (finalframe['Quarter end'] < '4/15/2007') & (finalframe['Quarter end'] >= '1/15/2007'),
            (finalframe['Quarter end'] < '1/15/2007') & (finalframe['Quarter end'] >= '10/15/2006'),
            (finalframe['Quarter end'] < '10/15/2006') & (finalframe['Quarter end'] >= '7/15/2006'),
            (finalframe['Quarter end'] < '7/15/2006') & (finalframe['Quarter end'] >= '4/15/2006'),
            (finalframe['Quarter end'] < '4/15/2006') & (finalframe['Quarter end'] >= '1/15/2006'),
            (finalframe['Quarter end'] < '1/15/2006') & (finalframe['Quarter end'] >= '10/15/2005'),
            (finalframe['Quarter end'] < '10/15/2005') & (finalframe['Quarter end'] >= '7/15/2005'),
            (finalframe['Quarter end'] < '7/15/2005') & (finalframe['Quarter end'] >= '4/15/2005'),
            (finalframe['Quarter end'] < '4/15/2005') & (finalframe['Quarter end'] >= '1/15/2005'),
            (finalframe['Quarter end'] < '1/15/2005') & (finalframe['Quarter end'] >= '10/15/2004'),
            (finalframe['Quarter end'] < '10/15/2004') & (finalframe['Quarter end'] >= '7/15/2004'),
            (finalframe['Quarter end'] < '7/15/2004') & (finalframe['Quarter end'] >= '4/15/2004'),
            (finalframe['Quarter end'] < '4/15/2004') & (finalframe['Quarter end'] >= '1/15/2004'),
            (finalframe['Quarter end'] < '1/15/2004') & (finalframe['Quarter end'] >= '10/15/2003'),
            (finalframe['Quarter end'] < '10/15/2003') & (finalframe['Quarter end'] >= '7/15/2003'),
            (finalframe['Quarter end'] < '7/15/2003') & (finalframe['Quarter end'] >= '4/15/2003'),
            (finalframe['Quarter end'] < '4/15/2003') & (finalframe['Quarter end'] >= '1/15/2003'),
            (finalframe['Quarter end'] < '1/15/2003') & (finalframe['Quarter end'] >= '10/15/2002'),
            (finalframe['Quarter end'] < '10/15/2002') & (finalframe['Quarter end'] >= '7/15/2002'),
            (finalframe['Quarter end'] < '7/15/2002') & (finalframe['Quarter end'] >= '4/15/2002'),
            (finalframe['Quarter end'] < '4/15/2002') & (finalframe['Quarter end'] >= '1/15/2002'),
            (finalframe['Quarter end'] < '1/15/2002') & (finalframe['Quarter end'] >= '10/15/2001'),
            (finalframe['Quarter end'] < '10/15/2001') & (finalframe['Quarter end'] >= '7/15/2001'),
            (finalframe['Quarter end'] < '7/15/2001') & (finalframe['Quarter end'] >= '4/15/2001'),
            (finalframe['Quarter end'] < '4/15/2001') & (finalframe['Quarter end'] >= '1/15/2001'),
            (finalframe['Quarter end'] < '1/15/2001') & (finalframe['Quarter end'] >= '10/15/2000'),
            (finalframe['Quarter end'] < '10/15/2000') & (finalframe['Quarter end'] >= '7/15/2000'),
            (finalframe['Quarter end'] < '7/15/2000') & (finalframe['Quarter end'] >= '4/15/2000'),
            (finalframe['Quarter end'] < '4/15/2000') & (finalframe['Quarter end'] >= '1/15/2000'),
            (finalframe['Quarter end'] < '1/15/2000') & (finalframe['Quarter end'] >= '10/15/1999'),
            (finalframe['Quarter end'] < '10/15/1999') & (finalframe['Quarter end'] >= '7/15/1999'),
            (finalframe['Quarter end'] < '7/15/1999') & (finalframe['Quarter end'] >= '4/15/1999'),
            (finalframe['Quarter end'] < '4/15/1999') & (finalframe['Quarter end'] >= '1/15/1999'),
            (finalframe['Quarter end'] < '1/15/1999') & (finalframe['Quarter end'] >= '10/15/1998'),
            (finalframe['Quarter end'] < '10/15/1998') & (finalframe['Quarter end'] >= '7/15/1998'),
            (finalframe['Quarter end'] < '7/15/1998') & (finalframe['Quarter end'] >= '4/15/1998'),
            (finalframe['Quarter end'] < '4/15/1998') & (finalframe['Quarter end'] >= '1/15/1998'),
            (finalframe['Quarter end'] < '1/15/1998') & (finalframe['Quarter end'] >= '10/15/1997'),
            (finalframe['Quarter end'] < '10/15/1997') & (finalframe['Quarter end'] >= '7/15/1997'),
            (finalframe['Quarter end'] < '7/15/1997') & (finalframe['Quarter end'] >= '4/15/1997'),
            (finalframe['Quarter end'] < '4/15/1997') & (finalframe['Quarter end'] >= '1/15/1997'),
            (finalframe['Quarter end'] < '1/15/1997') & (finalframe['Quarter end'] >= '10/15/1996'),
            (finalframe['Quarter end'] < '10/15/1996') & (finalframe['Quarter end'] >= '7/15/1996'),
            (finalframe['Quarter end'] < '7/15/1996') & (finalframe['Quarter end'] >= '4/15/1996'),
            (finalframe['Quarter end'] < '4/15/1996') & (finalframe['Quarter end'] >= '1/15/1996'),
            (finalframe['Quarter end'] < '1/15/1996') & (finalframe['Quarter end'] >= '10/15/1995'),
            (finalframe['Quarter end'] < '10/15/1995') & (finalframe['Quarter end'] >= '7/15/1995'),
            (finalframe['Quarter end'] < '7/15/1995') & (finalframe['Quarter end'] >= '4/15/1995'),
            (finalframe['Quarter end'] < '4/15/1995') & (finalframe['Quarter end'] >= '1/15/1995'),
            (finalframe['Quarter end'] < '1/15/1995') & (finalframe['Quarter end'] >= '10/15/1994'),
            (finalframe['Quarter end'] < '10/15/1994') & (finalframe['Quarter end'] >= '7/15/1994'),
            (finalframe['Quarter end'] < '7/15/1994') & (finalframe['Quarter end'] >= '4/15/1994'),
            (finalframe['Quarter end'] < '4/15/1994') & (finalframe['Quarter end'] >= '1/15/1994'),
            (finalframe['Quarter end'] < '1/15/1994') & (finalframe['Quarter end'] >= '10/15/1993'),
            (finalframe['Quarter end'] < '10/15/1993') & (finalframe['Quarter end'] >= '7/15/1993'),
            (finalframe['Quarter end'] < '7/15/1993') & (finalframe['Quarter end'] >= '4/15/1993')]

quarters = ['2019Q4', '2019Q3', '2019Q2', '2019Q1', '2018Q4', '2018Q3', '2018Q2', '2018Q1',
            '2017Q4', '2017Q3', '2017Q2', '2017Q1', '2016Q4', '2016Q3', '2016Q2', '2016Q1',
            '2015Q4', '2015Q3', '2015Q2', '2015Q1', '2014Q4', '2014Q3', '2014Q2', '2014Q1',
            '2013Q4', '2013Q3', '2013Q2', '2013Q1', '2012Q4', '2012Q3', '2012Q2', '2012Q1',
            '2011Q4', '2011Q3', '2011Q2', '2011Q1', '2010Q4', '2010Q3', '2010Q2', '2010Q1',
            '2009Q4', '2009Q3', '2009Q2', '2009Q1', '2008Q4', '2008Q3', '2008Q2', '2008Q1',
            '2007Q4', '2007Q3', '2007Q2', '2007Q1', '2006Q4', '2006Q3', '2006Q2', '2006Q1',
            '2005Q4', '2005Q3', '2005Q2', '2005Q1', '2004Q4', '2004Q3', '2004Q2', '2004Q1',
            '2003Q4', '2003Q3', '2003Q2', '2003Q1', '2002Q4', '2002Q3', '2002Q2', '2002Q1',
            '2001Q4', '2001Q3', '2001Q2', '2001Q1', '2000Q4', '2000Q3', '2000Q2', '2000Q1',
            '1999Q4', '1999Q3', '1999Q2', '1999Q1', '1998Q4', '1998Q3', '1998Q2', '1998Q1',
            '1997Q4', '1997Q3', '1997Q2', '1997Q1', '1996Q4', '1996Q3', '1996Q2', '1996Q1',
            '1995Q4', '1995Q3', '1995Q2', '1995Q1', '1994Q4', '1994Q3', '1994Q2', '1994Q1',
            '1993Q4', '1993Q3', '1993Q2']

finalframe['Quarter'] = np.select(periods, quarters)
finalframe.head()

,Quarter end,Shares split adjusted,Price,EPS basic,EPS diluted,Dividend per share,Dividend payout ratio,P/E ratio,Long-term debt to equity ratio,Symbol,Quarter
0,2019-09-30,67151778.0,63.99,0.59,0.58,0.035,0.0488,21.69,0.1859,AAN,2019Q3
1,2019-06-30,67547497.0,57.23,0.63,0.62,0.035,0.0464,19.94,0.1880,AAN,2019Q2
2,2019-03-31,67677449.0,48.63,0.83,0.82,0.035,0.0459,17.49,0.2251,AAN,2019Q1
3,2018-12-31,67202919.0,47.00,0.90,0.89,0.040,0.0455,10.83,0.1937,AAN,2018Q4
4,2018-09-30,68594784.0,48.86,0.64,0.62,0.030,0.0267,12.00,0.1686,AAN,2018Q3

In [9]:
# first iteration
# AAP - consistently 3-4 weeks late in Q1 or Q2
# ADCT - 1 month late 2009Q2
# ALXN - 1 month late 2005Q3
# ROP - 1 month late 2003Q2
# SAI - 1 month late 2014Q4
# SANM - 1 month late 1996Q2
# TXT - 1 month late 2006Q2
# WFMI - consistently 3 weeks late in Q4
pd.set_option('display.max_rows', None)
finalframe[finalframe.duplicated(['Symbol', 'Quarter'], keep = False)]

,Quarter end,Shares split adjusted,Price,EPS basic,EPS diluted,Dividend per share,Dividend payout ratio,P/E ratio,Long-term debt to equity ratio,Symbol,Quarter
206,2018-07-14,74081258.0,122.78,1.59,1.59,0.0600,0.0332,18.06,0.2857,AAP,2018Q2
207,2018-04-21,74031311.0,111.81,1.85,1.84,0.0600,0.0352,17.42,0.2946,AAP,2018Q2
209,2017-10-07,73898043.0,98.81,1.30,1.30,0.0600,0.0502,19.72,0.3231,AAP,2017Q3
210,2017-07-15,73862588.0,125.42,1.18,1.17,0.0600,0.0477,22.72,0.3336,AAP,2017Q3
213,2016-10-08,73653625.0,159.01,1.54,1.53,0.0600,0.0390,25.69,0.3651,AAP,2016Q3
214,2016-07-16,73640170.0,149.65,1.69,1.68,0.0600,0.0384,22.88,0.4255,AAP,2016Q3
217,2015-10-10,73236597.0,172.96,1.64,1.63,0.0600,0.0349,25.29,0.5359,AAP,2015Q3
218,2015-07-18,73217397.0,156.26,2.04,2.03,0.0600,0.0348,23.32,0.6348,AAP,2015Q3
222,2014-07-12,72975452.0,127.31,1.91,1.89,0.0600,0.0397,22.41,0.9908,AAP,2014Q2
223,2014-04-19,72954638.0,119.38,2.02,2.01,0.0600,0.0419,22.44,1.2011,AAP,2014Q2
226,2013-07-13,72837141.0,83.75,1.60,1.59,0.0600,0.0447,16.49,0.4413,AAP,2013Q2
227,2013-04-20,72959064.0,77.41,1.66,1.65,0.0600,0.0468,14.83,0.4756,AAP,2013Q2
230,2012-07-14,73327586.0,76.97,1.36,1.34,0.0600,0.0433,13.89,0.5662,AAP,2012Q2
231,2012-04-21,73513902.0,80.19,1.83,1.79,0.0600,0.0419,15.72,0.6129,AAP,2012Q2
233,2011-10-08,72445870.0,56.55,1.43,1.41,0.0600,0.0483,12.85,0.7709,AAP,2011Q3
234,2011-07-16,73734169.0,63.73,1.48,1.46,0.0600,0.0526,15.54,0.7398,AAP,2011Q3
237,2010-10-09,84052980.0,55.75,1.04,1.03,0.0600,0.0628,16.54,0.2636,AAP,2010Q3
238,2010-07-17,84265967.0,47.70,1.18,1.16,0.0600,0.0701,15.69,0.2825,AAP,2010Q3
241,2009-10-10,94631221.0,42.36,0.65,0.65,0.0600,0.0877,15.98,0.2152,AAP,2009Q3
242,2009-07-18,95449171.0,43.05,0.84,0.83,0.0600,0.0897,16.49,0.2208,AAP,2009Q3
246,2008-07-12,95659745.0,37.66,0.79,0.79,0.0600,0.0921,15.56,0.4355,AAP,2008Q2
247,2008-04-19,95284683.0,34.59,0.86,0.86,0.0600,0.0963,15.24,0.5826,AAP,2008Q2
250,2007-07-14,102228000.0,41.42,0.64,0.64,0.0600,0.1054,18.91,0.2890,AAP,2007Q2
251,2007-04-21,106457647.0,37.85,0.72,0.71,0.0600,0.1086,17.52,0.3615,AAP,2007Q2
253,2006-10-07,105248440.0,31.48,0.56,0.56,0.0600,0.0807,14.51,0.4552,AAP,2006Q3
254,2006-07-15,105115773.0,35.35,0.60,0.59,0.0600,0.0534,16.22,0.4208,AAP,2006Q3
257,2005-10-08,108177279.0,42.59,0.56,0.55,0.0000,0.0000,21.66,0.4532,AAP,2005Q3
258,2005-07-16,109466050.0,39.14,0.91,0.90,0.0000,0.0000,21.35,0.4848,AAP,2005Q3
261,2004-10-09,110294785.0,23.65,0.69,0.68,0.0000,0.0000,14.84,0.4603,AAP,2004Q3
262,2004-07-17,112301161.0,27.80,0.71,0.70,0.0000,0.0000,18.37,0.4185,AAP,2004Q3
266,2003-07-12,110093895.0,18.64,1.19,1.16,0.0000,0.0000,35.17,0.9825,AAP,2003Q2
267,2003-04-19,108999837.0,14.54,0.14,0.14,0.0000,0.0000,24.37,1.3583,AAP,2003Q2
270,2002-07-13,106996215.0,17.85,0.45,0.44,0.0000,NaN,NaN,1.7856,AAP,2002Q2
271,2002-04-20,105162573.0,14.99,0.36,0.34,0.0000,NaN,NaN,2.2056,AAP,2002Q2
1518,2009-09-30,96626431.0,8.34,-0.21,-0.21,0.0000,NaN,NaN,2.1095,ADCT,2009Q3
1519,2009-07-31,96625951.0,8.34,-0.01,-0.01,0.0000,NaN,NaN,1.7159,ADCT,2009Q3
4039,2005-12-31,125378812.0,6.04,-0.74,-0.74,0.0000,NaN,NaN,1.8328,ALXN,2005Q4
4040,2005-10-31,123658332.0,6.80,-1.16,-1.16,0.0000,NaN,NaN,1.4775,ALXN,2005Q4
48437,2003-09-30,63328616.0,20.91,0.57,0.56,0.0875,0.2020,44.02,0.6508,ROP,2003Q3
48438,2003-07-31,63392708.0,16.84,0.48,0.48,0.0875,0.3584,35.83,0.7005,ROP,2003Q3
49254,2015-04-03,74390525.0,43.97,0.56,0.55,0.3200,NaN,NaN,1.1560,SAI,2015Q1
49255,2015-01-30,74124812.0,40.52,0.62,0.62,0.3200,NaN,NaN,1.1663,SAI,2015Q1
49473,1996-09-30,22519897.0,23.06,NaN,NaN,0.0000,NaN,NaN,0.8318,SANM,1996Q3
49474,1996-07-29,22383577.0,24.28,0.42,0.40,0.0000,NaN,NaN,0.9306,SANM,1996Q3
56068,2006-09-30,250889866.0,43.55,1.34,1.32,0.3875,0.3693,60.91,2.7733,TXT,2006Q3
56069,2006-07-26,252520378.0,45.16,0.54,0.53,0.3875,1.0013,50.46,2.6401,TXT,2006Q3
59469,2017-04-09,319564636.0,31.52,0.31,0.31,0.1400,0.5472,22.68,0.3117,WFMI,2017Q1
59470,2017-01-15,318564535.0,30.33,0.30,0.30,0.2750,0.4911,19.57,0.3183,WFMI,2017Q1
59473,2016-04-10,321027212.0,31.27,0.44,0.44,0.1350,0.3491,21.13,0.3193,WFMI,2016Q1
59474,2016-01-17,324615927.0,31.86,0.47,0.46,0.1350,0.3447,21.53,0.3225,WFMI,2016Q1
59477,2015-04-12,358279743.0,54.14,0.44,0.44,0.1300,0.2980,33.84,0.0149,WFMI,2015Q1
59478,2015-01-18,360763460.0,44.32,0.46,0.46,0.1300,0.3019,28.41,0.0155,WFMI,2015Q1
59481,2014-04-13,367573070.0,52.66,0.38,0.38,0.1200,0.2899,35.11,0.0149,WFMI,2014Q1
59482,2014-01-19,371969999.0,58.81,0.42,0.42,0.1200,0.2774,40.01,0.0078,WFMI,2014Q1
59485,2013-04-14,370894062.0,44.59,0.77,0.76,0.2000,0.9596,33.65,0.0072,WFMI,2013Q1
59486,2013-01-20,370663960.0,47.18,0.79,0.78,2.2000,0.9838,37.44,0.0068,WFMI,2013Q1
59489,2012-04-08,367127758.0,39.97,0.65,0.64,0.1400,0.2173,38.62,0.0055,WFMI,2012Q1
59490,2012-01-15,364735638.0,33.71,0.66,0.65,0.1400,0.2116,34.93,0.0060,WFMI,2012Q1
59493,2011-04-10,351425480.0,29.28,0.51,0.51,0.1000,0.1157,37.30,0.0769,WFMI,2011Q1
59494,2011-01-16,347129980.0,21.77,0.51,0.51,0.1000,0.0621,31.55,0.1622,WFMI,2011Q1
59497,2010-04-11,342898130.0,16.42,0.39,0.39,0.0000,0.0000,33.86,0.3286,WFMI,2010Q1
59498,2010-01-17,340713622.0,14.84,0.32,0.32,0.0000,0.0000,34.92,0.3474,WFMI,2010Q1
59501,2009-04-12,280873522.0,7.04,0.19,0.19,0.0000,0.3099,19.03,0.4805,WFMI,2009Q1
59502,2009-01-18,280798030.0,7.31,0.20,0.20,0.0000,0.5437,17.83,0.4941,WFMI,2009Q1
59505,2008-04-13,280415628.0,18.11,0.29,0.29,0.2000,0.6542,30.18,0.5562,WFMI,2008Q1
59506,2008-01-20,279021922.0,22.00,0.28,0.28,0.2000,0.6153,33.85,0.5265,WFMI,2008Q1
59513,2006-04-09,280167368.0,33.41,0.37,0.36,0.1500,2.2589,60.47,0.0070,WFMI,2006Q1
59514,2006-01-15,277856990.0,35.30,0.42,0.40,2.1500,2.3775,66.60,0.0074,WFMI,2006Q1
59517,2005-04-10,261330440.0,24.38,0.65,0.61,0.2500,0.3183,42.59,0.0715,WFMI,2005Q1
59518,2005-01-16,257130732.0,22.07,0.76,0.71,0.1900,0.2837,40.50,0.0868,WFMI,2005Q1
59521,2004-04-11,247289328.0,18.21,0.58,0.54,0.1500,0.1456,37.16,0.1859,WFMI,2004Q1
59522,2004-01-18,243728416.0,15.66,0.64,0.60,0.1500,0.0783,35.19,0.2016,WFMI,2004Q1
59525,2003-04-13,237778412.0,12.86,0.44,0.41,0.0000,0.0000,32.76,0.2362,WFMI,2003Q1
59526,2003-01-19,233416172.0,11.89,0.44,0.42,0.0000,0.0000,31.92,0.2591,WFMI,2003Q1
59529,2002-04-14,226212040.0,10.63,0.36,0.34,0.0000,0.0000,31.73,0.4607,WFMI,2002Q1
59530,2002-01-20,222977900.0,9.52,0.36,0.34,0.0000,0.0000,29.98,0.5533,WFMI,2002Q1
59537,2000-04-09,208601008.0,5.27,0.49,0.47,0.0000,0.0000,27.03,1.0044,WFMI,2000Q1
59538,2000-01-16,207832688.0,4.89,0.44,0.43,0.0000,0.0000,24.45,0.9406,WFMI,2000Q1
59541,1999-04-11,209106160.0,4.43,0.44,0.43,0.0000,0.0000,20.25,0.5655,WFMI,1999Q1
59542,1999-01-17,212806680.0,5.17,0.49,0.47,0.0000,0.0000,24.05,0.5507,WFMI,1999Q1
59545,1998-04-12,209648000.0,7.16,0.43,0.40,0.0000,0.0000,44.06,0.6432,WFMI,1998Q1
59546,1998-01-18,207880000.0,5.38,0.46,0.44,0.0000,0.0000,39.13,0.3998,WFMI,1998Q1
59549,1997-04-13,154448000.0,2.63,0.28,NaN,0.0000,NaN,NaN,0.6468,WFMI,1997Q1
59550,1997-01-19,153888000.0,2.83,0.24,NaN,0.0000,NaN,NaN,0.6520,WFMI,1997Q1

#### 2nd iteration - change to 3 weeks

In [10]:
# period filters
periods_2 = [(finalframe['Quarter end'] >='10/22/2019'), 
            (finalframe['Quarter end'] < '10/22/2019') & (finalframe['Quarter end'] >= '7/22/2019'),
            (finalframe['Quarter end'] < '7/22/2019') & (finalframe['Quarter end'] >= '4/25/2019'),
            (finalframe['Quarter end'] < '4/25/2019') & (finalframe['Quarter end'] >= '1/22/2019'),
            (finalframe['Quarter end'] < '1/22/2019') & (finalframe['Quarter end'] >= '10/22/2018'),
            (finalframe['Quarter end'] < '10/22/2018') & (finalframe['Quarter end'] >= '7/22/2018'),
            (finalframe['Quarter end'] < '7/22/2018') & (finalframe['Quarter end'] >= '4/25/2018'),
            (finalframe['Quarter end'] < '4/25/2018') & (finalframe['Quarter end'] >= '1/22/2018'),
            (finalframe['Quarter end'] < '1/22/2018') & (finalframe['Quarter end'] >= '10/22/2017'),
            (finalframe['Quarter end'] < '10/22/2017') & (finalframe['Quarter end'] >= '7/22/2017'),
            (finalframe['Quarter end'] < '7/22/2017') & (finalframe['Quarter end'] >= '4/25/2017'),
            (finalframe['Quarter end'] < '4/25/2017') & (finalframe['Quarter end'] >= '1/22/2017'),
            (finalframe['Quarter end'] < '1/22/2017') & (finalframe['Quarter end'] >= '10/22/2016'),
            (finalframe['Quarter end'] < '10/22/2016') & (finalframe['Quarter end'] >= '7/22/2016'),
            (finalframe['Quarter end'] < '7/22/2016') & (finalframe['Quarter end'] >= '4/25/2016'),
            (finalframe['Quarter end'] < '4/25/2016') & (finalframe['Quarter end'] >= '1/22/2016'),
            (finalframe['Quarter end'] < '1/22/2016') & (finalframe['Quarter end'] >= '10/22/2015'),
            (finalframe['Quarter end'] < '10/22/2015') & (finalframe['Quarter end'] >= '7/22/2015'),
            (finalframe['Quarter end'] < '7/22/2015') & (finalframe['Quarter end'] >= '4/25/2015'),
            (finalframe['Quarter end'] < '4/25/2015') & (finalframe['Quarter end'] >= '1/22/2015'),
            (finalframe['Quarter end'] < '1/22/2015') & (finalframe['Quarter end'] >= '10/22/2014'),
            (finalframe['Quarter end'] < '10/22/2014') & (finalframe['Quarter end'] >= '7/22/2014'),
            (finalframe['Quarter end'] < '7/22/2014') & (finalframe['Quarter end'] >= '4/25/2014'),
            (finalframe['Quarter end'] < '4/25/2014') & (finalframe['Quarter end'] >= '1/22/2014'),
            (finalframe['Quarter end'] < '1/22/2014') & (finalframe['Quarter end'] >= '10/22/2013'),
            (finalframe['Quarter end'] < '10/22/2013') & (finalframe['Quarter end'] >= '7/22/2013'),
            (finalframe['Quarter end'] < '7/22/2013') & (finalframe['Quarter end'] >= '4/25/2013'),
            (finalframe['Quarter end'] < '4/25/2013') & (finalframe['Quarter end'] >= '1/22/2013'),
            (finalframe['Quarter end'] < '1/22/2013') & (finalframe['Quarter end'] >= '10/22/2012'),
            (finalframe['Quarter end'] < '10/22/2012') & (finalframe['Quarter end'] >= '7/22/2012'),
            (finalframe['Quarter end'] < '7/22/2012') & (finalframe['Quarter end'] >= '4/25/2012'),
            (finalframe['Quarter end'] < '4/25/2012') & (finalframe['Quarter end'] >= '1/22/2012'),
            (finalframe['Quarter end'] < '1/22/2012') & (finalframe['Quarter end'] >= '10/22/2011'),
            (finalframe['Quarter end'] < '10/22/2011') & (finalframe['Quarter end'] >= '7/22/2011'),
            (finalframe['Quarter end'] < '7/22/2011') & (finalframe['Quarter end'] >= '4/25/2011'),
            (finalframe['Quarter end'] < '4/25/2011') & (finalframe['Quarter end'] >= '1/22/2011'),
            (finalframe['Quarter end'] < '1/22/2011') & (finalframe['Quarter end'] >= '10/22/2010'),
            (finalframe['Quarter end'] < '10/22/2010') & (finalframe['Quarter end'] >= '7/22/2010'),
            (finalframe['Quarter end'] < '7/22/2010') & (finalframe['Quarter end'] >= '4/25/2010'),
            (finalframe['Quarter end'] < '4/25/2010') & (finalframe['Quarter end'] >= '1/22/2010'),
            (finalframe['Quarter end'] < '1/22/2010') & (finalframe['Quarter end'] >= '10/22/2009'),
            (finalframe['Quarter end'] < '10/22/2009') & (finalframe['Quarter end'] >= '7/22/2009'),
            (finalframe['Quarter end'] < '7/22/2009') & (finalframe['Quarter end'] >= '4/25/2009'),
            (finalframe['Quarter end'] < '4/25/2009') & (finalframe['Quarter end'] >= '1/22/2009'),
            (finalframe['Quarter end'] < '1/22/2009') & (finalframe['Quarter end'] >= '10/22/2008'),
            (finalframe['Quarter end'] < '10/22/2008') & (finalframe['Quarter end'] >= '7/22/2008'),
            (finalframe['Quarter end'] < '7/22/2008') & (finalframe['Quarter end'] >= '4/25/2008'),
            (finalframe['Quarter end'] < '4/25/2008') & (finalframe['Quarter end'] >= '1/22/2008'),
            (finalframe['Quarter end'] < '1/22/2008') & (finalframe['Quarter end'] >= '10/22/2007'),
            (finalframe['Quarter end'] < '10/22/2007') & (finalframe['Quarter end'] >= '7/22/2007'),
            (finalframe['Quarter end'] < '7/22/2007') & (finalframe['Quarter end'] >= '4/25/2007'),
            (finalframe['Quarter end'] < '4/25/2007') & (finalframe['Quarter end'] >= '1/22/2007'),
            (finalframe['Quarter end'] < '1/22/2007') & (finalframe['Quarter end'] >= '10/22/2006'),
            (finalframe['Quarter end'] < '10/22/2006') & (finalframe['Quarter end'] >= '7/22/2006'),
            (finalframe['Quarter end'] < '7/22/2006') & (finalframe['Quarter end'] >= '4/25/2006'),
            (finalframe['Quarter end'] < '4/25/2006') & (finalframe['Quarter end'] >= '1/22/2006'),
            (finalframe['Quarter end'] < '1/22/2006') & (finalframe['Quarter end'] >= '10/22/2005'),
            (finalframe['Quarter end'] < '10/22/2005') & (finalframe['Quarter end'] >= '7/22/2005'),
            (finalframe['Quarter end'] < '7/22/2005') & (finalframe['Quarter end'] >= '4/25/2005'),
            (finalframe['Quarter end'] < '4/25/2005') & (finalframe['Quarter end'] >= '1/22/2005'),
            (finalframe['Quarter end'] < '1/22/2005') & (finalframe['Quarter end'] >= '10/22/2004'),
            (finalframe['Quarter end'] < '10/22/2004') & (finalframe['Quarter end'] >= '7/22/2004'),
            (finalframe['Quarter end'] < '7/22/2004') & (finalframe['Quarter end'] >= '4/25/2004'),
            (finalframe['Quarter end'] < '4/25/2004') & (finalframe['Quarter end'] >= '1/22/2004'),
            (finalframe['Quarter end'] < '1/22/2004') & (finalframe['Quarter end'] >= '10/22/2003'),
            (finalframe['Quarter end'] < '10/22/2003') & (finalframe['Quarter end'] >= '7/22/2003'),
            (finalframe['Quarter end'] < '7/22/2003') & (finalframe['Quarter end'] >= '4/25/2003'),
            (finalframe['Quarter end'] < '4/25/2003') & (finalframe['Quarter end'] >= '1/22/2003'),
            (finalframe['Quarter end'] < '1/22/2003') & (finalframe['Quarter end'] >= '10/22/2002'),
            (finalframe['Quarter end'] < '10/22/2002') & (finalframe['Quarter end'] >= '7/22/2002'),
            (finalframe['Quarter end'] < '7/22/2002') & (finalframe['Quarter end'] >= '4/25/2002'),
            (finalframe['Quarter end'] < '4/25/2002') & (finalframe['Quarter end'] >= '1/22/2002'),
            (finalframe['Quarter end'] < '1/22/2002') & (finalframe['Quarter end'] >= '10/22/2001'),
            (finalframe['Quarter end'] < '10/22/2001') & (finalframe['Quarter end'] >= '7/22/2001'),
            (finalframe['Quarter end'] < '7/22/2001') & (finalframe['Quarter end'] >= '4/25/2001'),
            (finalframe['Quarter end'] < '4/25/2001') & (finalframe['Quarter end'] >= '1/22/2001'),
            (finalframe['Quarter end'] < '1/22/2001') & (finalframe['Quarter end'] >= '10/22/2000'),
            (finalframe['Quarter end'] < '10/22/2000') & (finalframe['Quarter end'] >= '7/22/2000'),
            (finalframe['Quarter end'] < '7/22/2000') & (finalframe['Quarter end'] >= '4/25/2000'),
            (finalframe['Quarter end'] < '4/25/2000') & (finalframe['Quarter end'] >= '1/22/2000'),
            (finalframe['Quarter end'] < '1/22/2000') & (finalframe['Quarter end'] >= '10/22/1999'),
            (finalframe['Quarter end'] < '10/22/1999') & (finalframe['Quarter end'] >= '7/22/1999'),
            (finalframe['Quarter end'] < '7/22/1999') & (finalframe['Quarter end'] >= '4/25/1999'),
            (finalframe['Quarter end'] < '4/25/1999') & (finalframe['Quarter end'] >= '1/22/1999'),
            (finalframe['Quarter end'] < '1/22/1999') & (finalframe['Quarter end'] >= '10/22/1998'),
            (finalframe['Quarter end'] < '10/22/1998') & (finalframe['Quarter end'] >= '7/22/1998'),
            (finalframe['Quarter end'] < '7/22/1998') & (finalframe['Quarter end'] >= '4/25/1998'),
            (finalframe['Quarter end'] < '4/25/1998') & (finalframe['Quarter end'] >= '1/22/1998'),
            (finalframe['Quarter end'] < '1/22/1998') & (finalframe['Quarter end'] >= '10/22/1997'),
            (finalframe['Quarter end'] < '10/22/1997') & (finalframe['Quarter end'] >= '7/22/1997'),
            (finalframe['Quarter end'] < '7/22/1997') & (finalframe['Quarter end'] >= '4/25/1997'),
            (finalframe['Quarter end'] < '4/25/1997') & (finalframe['Quarter end'] >= '1/22/1997'),
            (finalframe['Quarter end'] < '1/22/1997') & (finalframe['Quarter end'] >= '10/22/1996'),
            (finalframe['Quarter end'] < '10/22/1996') & (finalframe['Quarter end'] >= '7/22/1996'),
            (finalframe['Quarter end'] < '7/22/1996') & (finalframe['Quarter end'] >= '4/25/1996'),
            (finalframe['Quarter end'] < '4/25/1996') & (finalframe['Quarter end'] >= '1/22/1996'),
            (finalframe['Quarter end'] < '1/22/1996') & (finalframe['Quarter end'] >= '10/22/1995'),
            (finalframe['Quarter end'] < '10/22/1995') & (finalframe['Quarter end'] >= '7/22/1995'),
            (finalframe['Quarter end'] < '7/22/1995') & (finalframe['Quarter end'] >= '4/25/1995'),
            (finalframe['Quarter end'] < '4/25/1995') & (finalframe['Quarter end'] >= '1/22/1995'),
            (finalframe['Quarter end'] < '1/22/1995') & (finalframe['Quarter end'] >= '10/22/1994'),
            (finalframe['Quarter end'] < '10/22/1994') & (finalframe['Quarter end'] >= '7/22/1994'),
            (finalframe['Quarter end'] < '7/22/1994') & (finalframe['Quarter end'] >= '4/25/1994'),
            (finalframe['Quarter end'] < '4/25/1994') & (finalframe['Quarter end'] >= '1/22/1994'),
            (finalframe['Quarter end'] < '1/22/1994') & (finalframe['Quarter end'] >= '10/22/1993'),
            (finalframe['Quarter end'] < '10/22/1993') & (finalframe['Quarter end'] >= '7/22/1993'),
            (finalframe['Quarter end'] < '7/22/1993') & (finalframe['Quarter end'] >= '4/25/1993')]

quarters_2 = ['2019Q4', '2019Q3', '2019Q2', '2019Q1', '2018Q4', '2018Q3', '2018Q2', '2018Q1',
            '2017Q4', '2017Q3', '2017Q2', '2017Q1', '2016Q4', '2016Q3', '2016Q2', '2016Q1',
            '2015Q4', '2015Q3', '2015Q2', '2015Q1', '2014Q4', '2014Q3', '2014Q2', '2014Q1',
            '2013Q4', '2013Q3', '2013Q2', '2013Q1', '2012Q4', '2012Q3', '2012Q2', '2012Q1',
            '2011Q4', '2011Q3', '2011Q2', '2011Q1', '2010Q4', '2010Q3', '2010Q2', '2010Q1',
            '2009Q4', '2009Q3', '2009Q2', '2009Q1', '2008Q4', '2008Q3', '2008Q2', '2008Q1',
            '2007Q4', '2007Q3', '2007Q2', '2007Q1', '2006Q4', '2006Q3', '2006Q2', '2006Q1',
            '2005Q4', '2005Q3', '2005Q2', '2005Q1', '2004Q4', '2004Q3', '2004Q2', '2004Q1',
            '2003Q4', '2003Q3', '2003Q2', '2003Q1', '2002Q4', '2002Q3', '2002Q2', '2002Q1',
            '2001Q4', '2001Q3', '2001Q2', '2001Q1', '2000Q4', '2000Q3', '2000Q2', '2000Q1',
            '1999Q4', '1999Q3', '1999Q2', '1999Q1', '1998Q4', '1998Q3', '1998Q2', '1998Q1',
            '1997Q4', '1997Q3', '1997Q2', '1997Q1', '1996Q4', '1996Q3', '1996Q2', '1996Q1',
            '1995Q4', '1995Q3', '1995Q2', '1995Q1', '1994Q4', '1994Q3', '1994Q2', '1994Q1',
            '1993Q4', '1993Q3', '1993Q2']

finalframe['Quarter'] = np.select(periods_2, quarters_2)
finalframe.head()

,Quarter end,Shares split adjusted,Price,EPS basic,EPS diluted,Dividend per share,Dividend payout ratio,P/E ratio,Long-term debt to equity ratio,Symbol,Quarter
0,2019-09-30,67151778.0,63.99,0.59,0.58,0.035,0.0488,21.69,0.1859,AAN,2019Q3
1,2019-06-30,67547497.0,57.23,0.63,0.62,0.035,0.0464,19.94,0.1880,AAN,2019Q2
2,2019-03-31,67677449.0,48.63,0.83,0.82,0.035,0.0459,17.49,0.2251,AAN,2019Q1
3,2018-12-31,67202919.0,47.00,0.90,0.89,0.040,0.0455,10.83,0.1937,AAN,2018Q4
4,2018-09-30,68594784.0,48.86,0.64,0.62,0.030,0.0267,12.00,0.1686,AAN,2018Q3

In [15]:
df2 = finalframe[finalframe.duplicated(['Symbol', 'Quarter'], keep = False)]
df2['Symbol'].unique()

array(['AAP', 'ADCT', 'ALXN', 'HRL', 'MDT', 'NTAP', 'PDCO', 'ROP', 'SAI',
       'SANM', 'TXT'], dtype=object)

In [16]:
df2

,Quarter end,Shares split adjusted,Price,EPS basic,EPS diluted,Dividend per share,Dividend payout ratio,P/E ratio,Long-term debt to equity ratio,Symbol,Quarter
218,2015-07-18,7.321740e+07,156.26,2.04,2.03,0.0600,0.0348,23.32,0.6348,AAP,2015Q2
219,2015-04-25,7.317823e+07,154.01,2.02,2.00,0.0600,0.0355,22.95,0.7499,AAP,2015Q2
242,2009-07-18,9.544917e+07,43.05,0.84,0.83,0.0600,0.0897,16.49,0.2208,AAP,2009Q2
243,2009-04-25,9.524120e+07,37.07,0.99,0.98,0.0600,0.0915,14.89,0.2365,AAP,2009Q2
1518,2009-09-30,9.662643e+07,8.34,-0.21,-0.21,0.0000,NaN,NaN,2.1095,ADCT,2009Q3
1519,2009-07-31,9.662595e+07,8.34,-0.01,-0.01,0.0000,NaN,NaN,1.7159,ADCT,2009Q3
4039,2005-12-31,1.253788e+08,6.04,-0.74,-0.74,0.0000,NaN,NaN,1.8328,ALXN,2005Q4
4040,2005-10-31,1.236583e+08,6.80,-1.16,-1.16,0.0000,NaN,NaN,1.4775,ALXN,2005Q4
28439,2016-04-24,5.298605e+08,41.61,0.41,0.40,0.1450,0.3643,30.15,0.0581,HRL,2016Q1
28440,2016-01-24,5.299175e+08,36.66,0.44,0.43,0.1450,0.3671,28.87,0.0601,HRL,2016Q1
28487,2004-04-24,5.551486e+08,7.20,0.39,0.38,0.1125,0.2831,21.18,0.2826,HRL,2004Q1
28488,2004-01-24,5.536852e+08,6.41,0.37,0.37,0.1125,0.3069,19.28,0.3042,HRL,2004Q1
36538,2015-04-24,1.416351e+09,75.20,0.00,-0.00,0.3000,0.4950,24.03,0.6341,MDT,2015Q1
36539,2015-01-23,9.840000e+08,71.45,0.99,0.98,0.3050,0.3770,24.64,1.3206,MDT,2015Q1
36562,2009-04-24,1.112348e+09,29.47,0.11,0.11,0.1900,0.3892,11.65,0.5270,MDT,2009Q1
36563,2009-01-23,1.119284e+09,34.68,0.65,0.65,0.1880,0.2730,17.78,0.4229,MDT,2009Q1
41129,2015-04-24,3.049792e+08,37.42,0.44,0.44,0.1700,0.3704,19.69,0.4376,NTAP,2015Q1
41130,2015-01-23,3.117579e+08,40.91,0.57,0.56,0.1650,0.3281,21.65,0.4284,NTAP,2015Q1
41153,2009-04-24,3.355435e+08,15.68,0.23,0.22,0.0000,0.0000,54.07,0.8599,NTAP,2009Q1
41154,2009-01-23,3.307433e+08,12.86,-0.23,-0.23,0.0000,0.0000,15.88,0.9367,NTAP,2009Q1
41197,1998-04-24,2.704225e+08,3.98,0.25,NaN,0.0000,0.0000,124.86,0.0019,NTAP,1998Q1
41198,1998-01-23,2.681264e+08,3.73,0.17,0.15,0.0000,0.0000,149.20,0.0023,NTAP,1998Q1
43768,2010-04-24,1.238791e+08,30.45,0.52,0.52,0.1000,0.0584,17.81,0.3642,PDCO,2010Q1
43769,2010-01-23,1.227579e+08,27.66,0.47,0.47,0.0000,0.0000,16.37,0.3809,PDCO,2010Q1
43792,2004-04-24,1.371035e+08,35.81,0.68,0.65,0.0000,0.0000,36.54,0.5981,PDCO,2004Q1
43793,2004-01-24,1.367820e+08,32.73,0.59,0.58,0.0000,0.0000,35.97,0.6453,PDCO,2004Q1
43812,1999-04-24,1.346413e+08,9.86,0.41,0.41,0.0000,0.0000,27.77,0.0063,PDCO,1999Q1
43813,1999-01-23,1.345524e+08,10.38,0.41,0.41,0.0000,0.0000,30.99,0.0062,PDCO,1999Q1
48437,2003-09-30,6.332862e+07,20.91,0.57,0.56,0.0875,0.2020,44.02,0.6508,ROP,2003Q3
48438,2003-07-31,6.339271e+07,16.84,0.48,0.48,0.0875,0.3584,35.83,0.7005,ROP,2003Q3
49254,2015-04-03,7.439052e+07,43.97,0.56,0.55,0.3200,NaN,NaN,1.1560,SAI,2015Q1
49255,2015-01-30,7.412481e+07,40.52,0.62,0.62,0.3200,NaN,NaN,1.1663,SAI,2015Q1
49473,1996-09-30,2.251990e+07,23.06,NaN,NaN,0.0000,NaN,NaN,0.8318,SANM,1996Q3
49474,1996-07-29,2.238358e+07,24.28,0.42,0.40,0.0000,NaN,NaN,0.9306,SANM,1996Q3
56068,2006-09-30,2.508899e+08,43.55,1.34,1.32,0.3875,0.3693,60.91,2.7733,TXT,2006Q3
56069,2006-07-26,2.525204e+08,45.16,0.54,0.53,0.3875,1.0013,50.46,2.6401,TXT,2006Q3

## Compile and Export for Manual Editing in Excel

In [14]:
finalframe.to_csv(final_data_v2, index = False)