# USE EPLORATION TEMPLATE INSTEAD... FOR NUMERICAL EPLORATION`

# WE CAN BRAKE ANALYSIS (ROUGHLY INTO 3 PARTS)
 - ### CLEAN THE DATA
 - ### TROUBLESHOOT ISSUES
 - ### REPEAT
 - ### GET A UNIQUE INDEX, CREATE A SET OF DF/ENTITY RELATIONSHIPS
 - ### 
 - ###

In [17]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.utils import shuffle

In [4]:
df = pd.read_csv('..\data\\PENN_SP500_daily.csv')
df = shuffle(df, random_state=0)

C:\PROGRA1\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,6,9,19,48,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df.head()

,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,SHRCLS,...,CFACPR,CFACSHR,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
819456,44601,20081119,NaN,11,1,2754,05361110,AVY,AVERY DENNISON CORP,NaN,...,1.000000,1.0,29.37,NaN,-0.057463,-0.063932,-0.064099,-0.064334,-0.064622,-0.061156
1748051,82775,20100319,NaN,11,1,6331,41651510,HIG,HARTFORD FINANCIAL SVCS GRP INC,NaN,...,1.000000,1.0,27.90,NaN,-0.020833,-0.006887,-0.006924,-0.007940,-0.008016,-0.005087
560186,25953,20051114,NaN,11,1,3534,26000310,DOV,DOVER CORP,NaN,...,1.508111,1.0,39.60,NaN,0.011836,-0.000805,-0.000889,-0.002344,-0.002385,-0.000778
1513152,79057,20001204,NaN,12,1,6331,G0070K10,ACL,ACE LTD,NaN,...,1.000000,1.0,39.25,NaN,0.009554,0.003688,0.003681,-0.010946,-0.010971,0.007406
63210,11600,20171116,NaN,11,3,3840,24906P10,XRAY,DENTSPLY SIRONA INC,NaN,...,1.000000,1.0,66.88,13343.0,0.008709,0.009340,0.009091,0.012350,0.012231,0.008196

In [22]:
type(df['NAMEENDT'].iloc[0])

numpy.float64

In [36]:
df['EXCHCD'].value_counts().sort_values(ascending=False)

 1     1757366
 3      537358
 2       35787
 0        6465
 4         208
 5          73
-1          17
 31          5
Name: EXCHCD, dtype: int64

In [25]:
for value in df.columns:
    print(value, df[value].value_counts().shape)

PERMNO (616,)
date (4779,)
NAMEENDT (713,)
SHRCD (10,)
EXCHCD (8,)
SICCD (401,)
NCUSIP (834,)
TICKER (640,)
COMNAM (798,)
SHRCLS (5,)
TSYMBOL (640,)
NAICS (386,)
PRIMEXCH (6,)
TRDSTAT (3,)
SECSTAT (3,)
PERMCO (591,)
ISSUNO (255,)
HEXCD (5,)
HSICCD (244,)
CUSIP (652,)
DCLRDT (4577,)
DLAMT (100,)
DLPDT (100,)
DLSTCD (15,)
NEXTDT (25,)
PAYDT (4837,)
RCRDDT (4631,)
SHRFLG (3,)
HSICMG (57,)
HSICIG (151,)
DISTCD (33,)
DIVAMT (938,)
FACPR (169,)
FACSHR (42,)
ACPERM (171,)
ACCOMP (173,)
NWPERM (45,)
DLRETX (100,)
DLPRC (23,)
DLRET (100,)
TRTSCD (4,)
NMSIND (6,)
MMCNT (118,)
NSDINX (23,)
BIDLO (124727,)
ASKHI (122167,)
PRC (72330,)
VOL (1106240,)
RET (247575,)
BID (55975,)
ASK (55911,)
SHROUT (49431,)
CFACPR (237,)
CFACSHR (78,)
OPENPRC (63368,)
NUMTRD (86648,)
RETX (247613,)
vwretd (4449,)
vwretx (4433,)
ewretd (4405,)
ewretx (4395,)
sprtrn (4439,)

In [21]:
#df.iloc[:5000, :].to_csv('..\\data\\test_data.csv')