In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from sklearn import decomposition
from sklearn import manifold
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

import matplotlib.pyplot as plt
from matplotlib import offsetbox
from time import time
from datetime import datetime

In [2]:
df = pd.read_csv("SP500_daily.csv")
pd.set_option('display.expand_frame_repr', False)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5,6,9,19,48,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#dates = df['date']
new_dates = []
for y in df['date']:
    s = str(y)
    s_date = datetime.strptime(s, '%Y%m%d').strftime('%m/%d/%Y')
    new_dates.append(s_date)

In [5]:
df["new_date"] = new_dates

In [6]:
df.head()

   PERMNO      date  NAMEENDT  SHRCD  EXCHCD SICCD    NCUSIP TICKER       COMNAM SHRCLS  ... CFACSHR    OPENPRC   NUMTRD      RETX    vwretd    vwretx    ewretd    ewretx    sprtrn    new_date
0   10104  20000103       NaN     11       3  7370  68389X10   ORCL  ORACLE CORP    NaN  ...     4.0  124.62500  38710.0  0.054099 -0.006810 -0.006817  0.002878  0.002860 -0.009549  01/03/2000
1   10104  20000104       NaN     11       3  7370  68389X10   ORCL  ORACLE CORP    NaN  ...     4.0  115.50000  50279.0  -0.08836 -0.039656 -0.039683 -0.017465 -0.017486 -0.038345  01/04/2000
2   10104  20000105       NaN     11       3  7370  68389X10   ORCL  ORACLE CORP    NaN  ...     4.0  101.62500  60672.0 -0.052815 -0.000930 -0.001004  0.007821  0.007743  0.001922  01/05/2000
3   10104  20000106       NaN     11       3  7370  68389X10   ORCL  ORACLE CORP    NaN  ...     4.0  100.15625  45177.0 -0.058824 -0.007384 -0.007540  0.004504  0.004453  0.000956  01/06/2000
4   10104  20000107       NaN     11       3  7370  68389X10   ORCL  ORACLE CORP    NaN  ...     4.0   95.00000  37044.0  0.076823  0.032519  0.032516  0.017008  0.016991  0.027090  01/07/2000

[5 rows x 63 columns]

In [20]:
df1 = df['TICKER'].unique()
df1

array(['ORCL', 'MSFT', 'TROW', 'HON', 'T', 'ADM', 'FRC', 'FISV', 'CF',
       'PHBK', 'BKNG', 'BNK', 'CERN', 'BFO', 'MEC', 'KO', 'CDN', 'CDNS',
       'ED', 'CELG', 'XRAY', 'FAST', 'DTE', 'DD', 'ETN', 'SIVB', 'XOM',
       'MGG', 'MGM', 'MXIM', nan, 'WMI', 'WM', 'GD', 'GE', 'LH', 'PBCT',
       'GM', 'CHTR', 'AIZ', 'LYB', 'IR', 'FLT', 'IBM', 'NLSN', 'KMI',
       'IIN', 'ITT', 'HCA', 'HII', 'KSU', 'MPC', 'FBHS', 'XYL', 'MAY',
       'DLPH', 'APTV', 'TRIP', 'PSX', 'FB', 'PNR', 'FANG', 'ABBV', 'NCLH',
       'ZTS', 'PEP', 'MO', 'Q', 'IQV', 'P', 'COP', 'PVH', 'CDW', 'NWSA',
       'NWS', 'COTY', 'AMGN', 'LIN', 'SLB', 'TWTR', 'ALLE', 'HLT',
       'SNSTA', 'CHV', 'CVX', 'GOOG', 'AAPL', 'AMAT', 'MRKT', 'INFO',
       'ANET', 'SYF', 'CFG', 'KEYS', 'MRO', 'VMC', 'CBS', 'KHC', 'PYPL',
       'TXN', 'HPE', 'EIX', 'UA', 'FTV', 'G', 'LW', 'FTI', 'HSY', 'KR',
       'CVS', 'GIS', 'MHP', 'MHFI', 'SPGI', 'KMB', 'UTX', 'PG', 'SO',
       'CAT', 'CL', 'FMC', 'DE', 'BMY', 'WAG', 'WBA', 'BA', 'UAL', 'HI',
       'ABT', 'DOW', 'AMR', 'AAL', 'LMT', 'W', 'MWV', 'WRK', 'NEM', 'CAH',
       'IP', 'PE', 'EXC', 'REI', 'CNP', 'PFE', 'EMR', 'JNJ', 'GLW', 'PPG',
       'PPL', 'MMM', 'MRK', 'MOT', 'MSI', 'FE', 'CMS', 'CHD', 'CINF',
       'WEC', 'AWK', 'TXT', 'CTAS', 'PEG', 'HAL', 'NSP', 'XEL', 'ETR',
       'WR', 'EVRG', 'AEP', 'FPL', 'NEE', 'AA', 'ARNC', 'NOC', 'RTN',
       'AEE', 'CMCSA', 'CMA', 'OKE', 'CPB', 'WHR', 'F', 'DOV', 'DAL',
       'ADP', 'CEFT', 'CE', 'DIS', 'SNS', 'BH', 'LTR', 'L', 'K', 'VAR',
       'HWP', 'HPQ', 'BAX', 'DUK', 'XRX', 'PNW', 'APD', 'VNO', 'AHC',
       'HES', 'ALK', 'DG', 'OMC', 'FLS', 'HOC', 'HFC', 'HRL', 'ATO',
       'MAS', 'MXM', 'FITB', 'NUE', 'OXY', 'RGBK', 'RF', 'PLL', 'MTB',
       'ROL', 'SHW', 'BEN', 'AJG', 'WMB', 'WFC', 'NI', 'APA', 'BDX', 'WY',
       'CSC', 'DXC', 'IFF', 'TJX', 'CUM', 'CMI', 'PH', 'HST', 'ABI',
       'AIH', 'PSG', 'PKI', 'NX', 'JCI', 'SJM', 'JBHT', 'HBAN', 'SWK',
       'MCD', 'VFC', 'NU', 'ES', 'TFX', 'AVY', 'AUD', 'TYC', 'MMC',
       'AHAA', 'SWKS', 'CLX', 'GPC', 'HMT', 'KLAC', 'FBF', 'LB', 'CMB',
       'JPM', 'FOH', 'LRCX', 'DNB', 'MCO', 'HUM', 'UNP', 'LNC', 'DH',
       'TGT', 'HRB', 'BK', 'DHR', 'LEE', 'LLY', 'PIR', 'SYY', 'MKC',
       'RHI', 'JEC', 'EFX', 'GWW', 'LEN', 'HAS', 'IPG', 'MU', 'PHM',
       'WMT', 'CAG', 'SZ', 'ITW', 'BLL', 'NKE', 'JWN', 'AFL', 'AIF',
       'NTRS', 'FRT', 'LUV', 'LNT', 'GPS', 'AXP', 'CB', 'RKY', 'TAP',
       'UDR', 'INTC', 'BAC', 'SPC', 'STA', 'TRV', 'MDT', 'SNA', 'PNC',
       'PCAR', 'CTL', 'FDX', 'ADI', 'LEG', 'NWL', 'AMD', 'LOW', 'PAYX',
       'AOC', 'AON', 'NBL', 'TMO', 'CSX', 'ESV', 'CI', 'LTD', 'NSC',
       'PGR', 'PSA', 'CDB', 'STZ', 'D', 'KEY', 'AOS', 'COO', 'BEL', 'VZ',
       'SBC', 'USB', 'HD', 'MNS', 'MSCS', 'WDC', 'ODETB', 'AIG', 'ODETA',
       'ITI', 'STI', 'MWD', 'MS', 'NOW', 'MYL', 'RJF', 'HDI', 'HOG', 'C',
       'ECL', 'UNM', 'BBT', 'CHP', 'STT', 'SYK', 'BHI', 'BHGE', 'TIF',
       'VIA', 'ABMD', 'CCL', 'SCH', 'SCHW', 'AAG', 'GFR', 'PXD', 'FCX',
       'BR', 'DRE', 'ACN', 'ADBE', 'IEX', 'SYMC', 'HBI', 'HTH', 'AGN',
       'VTR', 'EOG', 'ERTS', 'EA', 'USBC', 'CSCO', 'COG', 'HOLX', 'COL',
       'XLNX', 'AZO', 'REGN', 'IDXX', 'AES', 'VRTX', 'IDPH', 'BIIB',
       'KIM', 'QCOM', 'PRGO', 'HISS', 'ROP', 'SNPS', 'PLMD', 'FD', 'M',
       'MHK', 'BSX', 'KSS', 'DHI', 'SBUX', 'TSN', 'BTM', 'PFG', 'AMCR',
       'WPI', 'ACT', 'INTU', 'MCHP', 'ACL', 'ACE', 'CRM', 'ORLY', 'RCL',
       'STCO', 'FLIR', 'ALL', 'DFS', 'LNX', 'NXL', 'BWA', 'EQR', 'UHS',
       'ATVI', 'IT', 'REG', 'NVR', 'INCY', 'EMN', 'SPG', 'AAP', 'MAA',
       'ALB', 'MLM', 'TSCO', 'CPRT', 'AVB', 'MAC', 'PLD', 'INHL', 'NKTR',
       'ESS', 'AIV', 'O', 'COF', 'MCK', 'DLTR', 'AAS', 'ABC', 'WMIH',
       'COOP', 'DRI', 'WAB', 'DISH', 'RMD', 'AVZ', 'IVZ', 'WABC', 'TPR',
       'PLI', 'RE', 'TRL', 'DVA', 'CBZ', 'HSIC', 'NTAP', 'MSS', 'MLSS',
       'EL', 'WAT', 'CTXS', 'HIG', 'ALXN', 'IRM', 'TCX', 'ANSS', 'EGRP',
       'ET', 'ETFC', 'MTON', 'LTBG', 'NOI', 'NOV', 'NRG', 'MWP', 'ZION',
       'TMPW', 'MNST', 'MWW', 'DGX', 'ROK', 'CME', 'CMT', 'KMX', 'TTWO',
       'ARE', 'APH', 'AMZN', 'RFMD', 'QRVO', 'BXP', 'RL', 'AME', 'SLG',
       'VLO', 'AVGP', 'YUM', 'CHRW', 'AMB', 'AMG', 'MTD', 'ADSK', 'URI',
       'VRSN', 'PWR', 'MAR', 'BBY', 'SEE', 'AMT', 'SRE', 'CTSH', 'RSG',
       'TWRS', 'CCI', 'EBAY', 'FOX', 'NVDA', 'PCLN', 'GS', 'FFIV', 'CNC',
       'JNPR', 'SBAC', 'COST', 'DVN', 'BLK', 'WCG', 'AKAM', 'EXPE', 'A',
       'UPS', 'PKG', 'EW', 'EXPD', 'MET', 'HANS', 'ISRG', 'ILMN', 'EQIX',
       'V', 'AVGO', 'COH', 'JKHY', 'IDX', 'IDNX', 'GRMN', 'ALGN', 'GPN',
       'ADS', 'CEY', 'FIS', 'KFT', 'MDLZ', 'WSH', 'WLTW', 'ZMH', 'ZBH',
       'LMC', 'ATH', 'WLP', 'ANTM', 'PRU', 'CNTE', 'NFLX', 'XEC', 'WYNN',
       'STX', 'LKQX', 'LKQ', 'CBG', 'CBRE', 'EXR', 'GOOGL', 'DLR', 'MOS',
       'FOXA', 'MKTX', 'NDAQ', 'DISCA', 'AMP', 'UARM', 'UAA', 'ICE',
       'VIAB', 'CMG', 'UAUA', 'TDG', 'MA', 'WU', 'SAI', 'LDOS', 'ROST',
       'IPGP', 'PCS', 'TMUS', 'TEL', 'CXO', 'ULTA', 'MXB', 'MSCI', 'PM',
       'UNH', 'DISCK', 'VRSK', 'FTNT', 'CBOE'], dtype=object)