### PACKAGES

In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from time import time
import numpy as np
from sklearn.utils import shuffle

In [8]:
os.chdir('C:\\Users\\A Sua\\Documents\\FIU\\CAP2020')

### DEFINE FUNCTIONS/WRAPPERS

In [3]:
def timing(f):
    def wrap(*args):
        time1 = time()
        ret = f(*args)
        time2 = time()
        print('{:s} function took {:.3f} ms'.format(f.__name__, (time2-time1)*1000.0))

        return ret
    return wrap

### IMPORT DATA

In [11]:
@timing
def import_data():
    df = pd.read_csv('data\\raw\\PENN_SP500_daily.csv')
    #df = shuffle(df, random_state=0)
    df = df[['date',
    'TICKER',
    'COMNAM',
    'BIDLO',
    'ASKHI',
    'PRC',
    'VOL',
    'RET',
    'BID',
    'ASK',
    'SHROUT',
    'OPENPRC']]

    df.head()
    return df
    
df = import_data()
df.head()

import_data function took 18951.463 ms

In [12]:
df.head()

,date,TICKER,COMNAM,BIDLO,ASKHI,PRC,VOL,RET,BID,ASK,SHROUT,OPENPRC
0,20000103,ORCL,ORACLE CORP,111.6250,125.1875,118.1250,24831819.0,0.054099,118.1250,118.1875,1423672.0,124.62500
1,20000104,ORCL,ORACLE CORP,105.0000,118.6250,107.6875,29568565.0,-0.08836,107.6875,107.7500,1423672.0,115.50000
2,20000105,ORCL,ORACLE CORP,96.0000,106.3750,102.0000,42032160.0,-0.052815,102.0000,102.0000,1423672.0,101.62500
3,20000106,ORCL,ORACLE CORP,94.6875,105.0000,96.0000,27848885.0,-0.058824,96.0000,95.8750,1423672.0,100.15625
4,20000107,ORCL,ORACLE CORP,93.5625,103.5000,103.3750,23218034.0,0.076823,103.2500,103.3750,1423672.0,95.00000

### DROP DUPLICATES

### DROP DUPLICATES

### COUNT MISSING VALUES

### DROP MISSING VALUES (IF NECESSARY)

### WORKSPACE